include HISTORY.rst
include LICENSE
include README.rst
include config-example.yaml
include pyproject.toml
include setup.py

recursive-include configs *
recursive-include src *
recursive-include requirements *.txt

exclude .dockerignore
exclude .pyup.yml
exclude .taskcluster.yml
exclude CODE_OF_CONDUCT.md
exclude CONTRIBUTING.rst
exclude Dockerfile
exclude Dockerfile.test
exclude docker.d
exclude tests
exclude tox.ini
exclude version.txt

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude docs *.rst conf.py
recursive-exclude docker.d *
recursive-exclude requirements *.in
recursive-exclude tests *
