worker_types:

  - worker_type: appservices-3-beetmover
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: prod-beetmover
    deployment_name: beetmover-prod-relengworker-firefoxci-applicationservices-3-1
    autoscale:
      algorithm: sla
      args:
        max_replicas: 20
        avg_task_duration: 120
        sla_seconds: 240
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: gecko-3-beetmover
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: prod-beetmover
    deployment_name: beetmover-prod-relengworker-firefoxci-gecko-3-1
    autoscale:
      algorithm: sla
      args:
        max_replicas: 80
        avg_task_duration: 120
        sla_seconds: 240
        capacity_ratio: 1.0
        min_replicas: 0


  - worker_type: mobile-3-beetmover
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: prod-beetmover
    deployment_name: beetmover-prod-relengworker-firefoxci-mobile-3-1
    autoscale:
      algorithm: sla
      args:
        max_replicas: 20
        avg_task_duration: 120
        sla_seconds: 240
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: comm-3-beetmover
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: prod-beetmover
    deployment_name: beetmover-prod-relengworker-firefoxci-comm-3-1
    autoscale:
      algorithm: sla
      args:
        max_replicas: 20
        avg_task_duration: 120
        sla_seconds: 240
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: gecko-1-beetmover
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: prod-beetmover
    deployment_name: beetmover-prod-relengworker-firefoxci-gecko-1-1
    autoscale:
      algorithm: sla
      args:
        max_replicas: 20
        avg_task_duration: 120
        sla_seconds: 240
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: gecko-3-balrog
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: prod-balrog
    deployment_name: balrog-prod-relengworker-firefoxci-gecko-3-1
    autoscale:
      algorithm: sla
      args:
        max_replicas: 25
        avg_task_duration: 60
        sla_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: gecko-1-balrog
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: prod-balrog
    deployment_name: balrog-prod-relengworker-firefoxci-gecko-1-1
    autoscale:
      algorithm: sla
      args:
        max_replicas: 10
        avg_task_duration: 60
        sla_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: comm-3-balrog
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: prod-balrog
    deployment_name: balrog-prod-relengworker-firefoxci-comm-3-1
    autoscale:
      algorithm: sla
      args:
        max_replicas: 10
        avg_task_duration: 60
        sla_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: comm-1-balrog
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: prod-balrog
    deployment_name: balrog-prod-relengworker-firefoxci-comm-1-1
    autoscale:
      algorithm: sla
      args:
        max_replicas: 10
        avg_task_duration: 60
        sla_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: gecko-3-addon
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: prod-addon
    deployment_name: addon-prod-relengworker-firefoxci-gecko-3-1
    autoscale:
      algorithm: sla
      args:
        max_replicas: 10
        avg_task_duration: 240
        sla_seconds: 480
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: gecko-1-addon
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: prod-addon
    deployment_name: addon-prod-relengworker-firefoxci-gecko-1-1
    autoscale:
      algorithm: sla
      args:
        max_replicas: 10
        avg_task_duration: 240
        sla_seconds: 480
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: gecko-t-signing
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: prod-signing
    deployment_name: signing-prod-relengworker-firefoxci-gecko-t-1
    autoscale:
      algorithm: sla
      args:
        max_replicas: 20
        avg_task_duration: 60
        sla_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: gecko-3-signing
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: prod-signing
    deployment_name: signing-prod-relengworker-firefoxci-gecko-3-1
    autoscale:
      algorithm: sla
      args:
        max_replicas: 100
        avg_task_duration: 60
        sla_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: mobile-3-signing
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: prod-signing
    deployment_name: signing-prod-relengworker-firefoxci-mobile-3-1
    autoscale:
      algorithm: sla
      args:
        max_replicas: 20
        avg_task_duration: 60
        sla_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: comm-3-signing
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: prod-signing
    deployment_name: signing-prod-relengworker-firefoxci-comm-3-1
    autoscale:
      algorithm: sla
      args:
        max_replicas: 20
        avg_task_duration: 60
        sla_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: appservices-1-beetmover
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: prod-beetmover
    deployment_name: beetmover-prod-relengworker-firefoxci-applicationservices-1-1
    autoscale:
      algorithm: sla
      args:
        max_replicas: 1
        avg_task_duration: 60
        sla_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: mobile-1-beetmover
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: prod-beetmover
    deployment_name: beetmover-prod-relengworker-firefoxci-mobile-1-1
    autoscale:
      algorithm: sla
      args:
        max_replicas: 1
        avg_task_duration: 60
        sla_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: gecko-1-bouncer
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: prod-bouncer
    deployment_name: bouncer-prod-relengworker-firefoxci-gecko-1-1
    autoscale:
      algorithm: sla
      args:
        max_replicas: 1
        avg_task_duration: 60
        sla_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: comm-3-bouncer
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: prod-bouncer
    deployment_name: bouncer-prod-relengworker-firefoxci-comm-3-1
    autoscale:
      algorithm: sla
      args:
        max_replicas: 1
        avg_task_duration: 60
        sla_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: gecko-3-bouncer
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: prod-bouncer
    deployment_name: bouncer-prod-relengworker-firefoxci-gecko-3-1
    autoscale:
      algorithm: sla
      args:
        max_replicas: 1
        avg_task_duration: 60
        sla_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: gecko-1-pushapk
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: prod-pushapk
    deployment_name: pushapk-prod-relengworker-firefoxci-gecko-1-1
    autoscale:
      algorithm: sla
      args:
        max_replicas: 1
        avg_task_duration: 60
        sla_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: gecko-3-pushapk
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: prod-pushapk
    deployment_name: pushapk-prod-relengworker-firefoxci-gecko-3-1
    autoscale:
      algorithm: sla
      args:
        max_replicas: 1
        avg_task_duration: 60
        sla_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: mobile-1-pushapk
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: prod-pushapk
    deployment_name: pushapk-prod-relengworker-firefoxci-mobile-1-1
    autoscale:
      algorithm: sla
      args:
        max_replicas: 1
        avg_task_duration: 60
        sla_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: mobile-3-pushapk
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: prod-pushapk
    deployment_name: pushapk-prod-relengworker-firefoxci-mobile-3-1
    autoscale:
      algorithm: sla
      args:
        max_replicas: 1
        avg_task_duration: 60
        sla_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: gecko-3-pushsnap
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: prod-pushsnap
    deployment_name: pushsnap-prod-relengworker-firefoxci-gecko-3-1
    autoscale:
      algorithm: sla
      args:
        max_replicas: 1
        avg_task_duration: 60
        sla_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: gecko-1-pushsnap
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: prod-pushsnap
    deployment_name: pushsnap-prod-relengworker-firefoxci-gecko-1-1
    autoscale:
      algorithm: sla
      args:
        max_replicas: 1
        avg_task_duration: 60
        sla_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: comm-1-shipit
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: prod-shipit
    deployment_name: shipit-prod-relengworker-firefoxci-comm-1-1
    autoscale:
      algorithm: sla
      args:
        max_replicas: 1
        avg_task_duration: 60
        sla_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: comm-3-shipit
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: prod-shipit
    deployment_name: shipit-prod-relengworker-firefoxci-comm-3-1
    autoscale:
      algorithm: sla
      args:
        max_replicas: 1
        avg_task_duration: 60
        sla_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: gecko-1-shipit
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: prod-shipit
    deployment_name: shipit-prod-relengworker-firefoxci-gecko-1-1
    autoscale:
      algorithm: sla
      args:
        max_replicas: 1
        avg_task_duration: 60
        sla_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: gecko-3-shipit
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: prod-shipit
    deployment_name: shipit-prod-relengworker-firefoxci-gecko-3-1
    autoscale:
      algorithm: sla
      args:
        max_replicas: 1
        avg_task_duration: 60
        sla_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: appservices-3-signing
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: prod-signing
    deployment_name: signing-prod-relengworker-firefoxci-applicationservices-3-1
    autoscale:
      algorithm: sla
      args:
        max_replicas: 1
        avg_task_duration: 60
        sla_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: appservices-t-signing
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: prod-signing
    deployment_name: signing-prod-relengworker-firefoxci-applicationservices-t-1
    autoscale:
      algorithm: sla
      args:
        max_replicas: 1
        avg_task_duration: 60
        sla_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: comm-t-signing
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: prod-signing
    deployment_name: signing-prod-relengworker-firefoxci-comm-t-1
    autoscale:
      algorithm: sla
      args:
        max_replicas: 1
        avg_task_duration: 60
        sla_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: mobile-t-signing
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: prod-signing
    deployment_name: signing-prod-relengworker-firefoxci-mobile-t-1
    autoscale:
      algorithm: sla
      args:
        max_replicas: 1
        avg_task_duration: 60
        sla_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: comm-3-tree
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: prod-tree
    deployment_name: tree-prod-relengworker-firefoxci-comm-3-1
    autoscale:
      algorithm: sla
      args:
        max_replicas: 1
        avg_task_duration: 60
        sla_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: gecko-1-tree
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: prod-tree
    deployment_name: tree-prod-relengworker-firefoxci-gecko-1-1
    autoscale:
      algorithm: sla
      args:
        max_replicas: 1
        avg_task_duration: 60
        sla_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: gecko-3-tree
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: prod-tree
    deployment_name: tree-prod-relengworker-firefoxci-gecko-3-1
    autoscale:
      algorithm: sla
      args:
        max_replicas: 1
        avg_task_duration: 60
        sla_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: xpi-t-signing
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: prod-signing
    deployment_name: signing-prod-relengworker-firefoxci-xpi-t-1
    autoscale:
      algorithm: sla
      args:
        max_replicas: 10
        avg_task_duration: 60
        sla_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: xpi-3-signing
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: prod-signing
    deployment_name: signing-prod-relengworker-firefoxci-xpi-3-1
    autoscale:
      algorithm: sla
      args:
        max_replicas: 10
        avg_task_duration: 60
        sla_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: mpd001-t-signing
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: prod-signing
    deployment_name: signing-prod-relengworker-firefoxci-mpd001-t-1
    autoscale:
      algorithm: sla
      args:
        max_replicas: 10
        avg_task_duration: 60
        sla_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: mpd001-3-signing
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: prod-signing
    deployment_name: signing-prod-relengworker-firefoxci-mpd001-3-1
    autoscale:
      algorithm: sla
      args:
        max_replicas: 10
        avg_task_duration: 60
        sla_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0
